@import "src/assets/scss/global/index";

$size: 7em;
$principal-gradient-x: linear-gradient(-90deg, rgba(2, 0, 36, 0) 0%, rgba(81, 170, 28, 0.625) 50%);
$principal-gradient-y: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(81, 170, 28, 0.625) 50%);
$principal-gradient-x-blue: linear-gradient(-90deg, rgba(2, 0, 36, 0) 0%, rgba(27, 138, 179, 0.625) 50%);
$principal-gradient-y-blue: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(27, 138, 179, 0.625) 50%);
$principal-gradient-x-accent: linear-gradient(-90deg, rgba(2, 0, 36, 0) 0%, rgba(249, 201, 57, 0.625) 50%);
$principal-gradient-y-accent: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(249, 201, 57, 0.625) 50%);

@mixin cube($tob, $tob-size, $lor, $lor-size, $width, $rotate, $skew) {
  height: $size;
  #{$tob} : $tob-size;
  #{$lor} : $lor-size;
  transform: $rotate $skew;
  width: $width;
  position: absolute;
}

.mg--blue { background: map-get($mg-blue, 500)}
.mg--blue800 { background: map-get($mg-blue, 700)}
.mg--blue900 { background: map-get($mg-blue, 800)}
.mg--blue-gradient-y { background: $principal-gradient-y-blue}
.mg--blue-gradient-x { background: $principal-gradient-x-blue}
.mg--primary { background: map-get($mg-primary, 500)}
.mg--primary800 { background: map-get($mg-primary, 800)}
.mg--primary900 { background: map_get($mg-primary, 900)}
.mg--primary-gradient-y { background: $principal-gradient-y}
.mg--primary-gradient-x { background: $principal-gradient-x}
.mg--accent { background: map-get($mg-accent, 500)}
.mg--accent800 { background: map-get($mg-accent, 800)}
.mg--accent900 { background: map_get($mg-accent, 900)}
.mg--accent-gradient-y { background: $principal-gradient-y-accent}
.mg--accent-gradient-x { background: $principal-gradient-x-accent}

.product {
  padding: 0 4em 2em 4em;
  display: flex;
  flex-direction: column;
  width: 11em;

  h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: -2em;
    font-weight: 500;
    font-size: 20px;
  }

  &:hover {
    .product {
      &-help {
        cursor: pointer;
      }

      &-mirror-x {
        @include cube(top, 7.2em, left, -20.8em, 10em, rotate(0), skewY(-32deg));
      }

      &-mirror-y {
        @include cube(top, 10.7em, left, -15.4em, 6.2em, rotate(90deg), skewY(58deg));
      }

      &-price-base {
        transform: translate(4.5em, -2.75em);
        transition: all .25s linear;
        box-shadow: -9em 3.7em 0.2em #e1e1e1;

        &-x, &-y {
          transition: all .25s linear;
          :first-child {
            transition: display 1s linear;
            display: flex;
          }
        }

        &-x {
          width: 6em;
          top: -0.85em;
          left: -0.2em;
        }

        &-y {
          height: $size;
          width: 3.8em;
          bottom: -2.65em;
          left: 4.35em;
        }
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    height: 14em;
    img, mat-icon {
      display: flex;
      margin: auto;
      max-height: 15em;
      max-width: 10em;
      z-index: 2;
      position: relative;
      margin-bottom: -15px;
    }
    mat-icon {
      font-size: 11em;
      width: 11em;
      height: 1em;
    }
  }

  &-mirror {
    z-index: 5;
  }

  &-information {
    width: 16em;
    height: 19em;
    margin-left: 13em;
    border-radius: 1em;
    position: absolute;
    padding: 17px;
    background: whitesmoke;
    z-index: 10;
    border: 1px dotted;
  }

  &-price, &-mirror {
    padding-left: 1.25em;
    transform: rotate(-35deg) skew(45deg, 5deg);
    position: relative;

    &-base {
      height: $size;
      width: $size;
      display: flex;
      box-shadow: -2em 1em 0.2em #e1e1e1;
      transition: all .25s linear;

      &-x {
        @include cube(top,  0.5em, left, -0.2em, 1.5em, rotate(0), skewY(-32deg));
      }
      &-y {
        @include cube(bottom,  -4em, left, 3.5em, 1em, rotate(-90deg), skewY(58deg));
      }

      &-y, &-x {
        transition: all .25s linear;
        height: $size;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        :first-child {
          transition: all 3s linear;
          transform: rotate(90deg);
          color: $principal-opposite;
          font-size: 18px;
          font-weight: 500;
          display: none;
        }
      }
    }
  }
}





