<div class="product">
  <h3 *ngIf="product.name">{{product.name}}</h3>
  <h3 *ngIf="!product.name">Nuevo Producto</h3>
  <div class="product-help" (click)="showInformation()" matTooltip="clic para mas informacion"
       matTooltipPosition="right">
    <div class="product-mirror">
      <div class="product-mirror-x"></div>
      <div class="product-mirror-y"></div>
    </div>
    <div class="product-image">
      <img *ngIf="product.image" [src]="product.image" [alt]="product.name">
      <mat-icon *ngIf="!product.image" color="accent">add_circle</mat-icon>
    </div>
  </div>
  <div class="product-price">
    <div class="product-price-base"></div>
    <div class="product-price-base-x">
      <div>
        <ng-content select="merke-gratis-left-info"></ng-content>
      </div>
    </div>
    <div class="product-price-base-y">
      <div>
        <ng-content select="merke-gratis-right-info"></ng-content>
      </div>
    </div>
  </div>
</div>
