<form class="registry">
    <h1 class="login-title">{{'AUTHENTICATION.LOGIN.LOGIN-USER' | translate}}</h1>
    <mat-form-field appearance="fill">
      <mat-label>{{'AUTHENTICATION.LOGIN.USER' | translate}}</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <mat-icon matSuffix color="accent">person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'AUTHENTICATION.LOGIN.PASSWORD' | translate}}</mat-label>
      <input matInput type="password" [(ngModel)]="value">
      <mat-icon matSuffix color="accent">lock</mat-icon>
    </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'AUTHENTICATION.LOGIN.PASSWORD' | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="value">
    <mat-icon matSuffix color="accent">lock</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'AUTHENTICATION.LOGIN.PASSWORD' | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="value">
    <mat-icon matSuffix color="accent">lock</mat-icon>
  </mat-form-field>

    <button mat-flat-button color="primary" class="login--button">{{'AUTHENTICATION.LOGIN.LOGIN-BUTTON' | translate}}</button>
</form>

