$principal-color: #51aa1c;
$principal-color800: #46a50d;
$secondary-color: #f9c937;
$principal-opposite: #f4f6ec;

// -------------------------------------- Angular styles --------------------------------------------
$mat-merke-gratis-primary: (
  50 : #eaf4db,
  100 : #b4dc9d,
  200 : #9fd47e,
  300 : #6fc43d,
  400 : #85d05c,
  500 : $principal-color,
  600 : #62c62a,
  700 : #54b41a,
  800 : $principal-color800,
  900 : #348702,
  A100 : #b4dc9d,
  A200 : #9fd47e,
  A400 : #85d05c,
  A700 : #54b41a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-merke-gratis-accent: (
  50 : #fff5e0,
  100 : #f5e6bb,
  200 : #ffecaf,
  300 : #ffdc7b,
  400 : #ecc64d,
  500 : $secondary-color,
  600 : #dbad1b,
  700 : #b68e0c,
  800 : #977500,
  900 : #7b6005,
  A100 : #f5e6bb,
  A200 : #ffecaf,
  A400 : #ecc64d,
  A700 : #b68e0c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
