<div class="menu">
  <div class="menu-title">
    <div>Welcome to GoMart grocery big Store</div>
    <div>wishlist (0)</div>
  </div>
  <div class="menu-info">
    <div class="menu-info--logo"></div>
    <div class="menu-info--search"></div>
    <div class="menu-info-account">
      <div class="menu-info-account--personal">Mi cuenta<mat-icon>menu</mat-icon></div>
      <div>Registro y login</div>
    </div>
  </div>
  <div class="menu-profile">
    <div class="menu-profile-category">
      <mat-icon>menu</mat-icon>category
    </div>
    <div class="menu-profile-sections"></div>
    <div class="menu-profile-cart"></div>
  </div>

</div>
<router-outlet></router-outlet>
