<div class="auth">
  <div class="auth-presentation">
    <nav class="auth-presentation-navigate">
      <a *ngFor="let route of optionsRoots" (click)="selectOption(route.id)"
         [ngClass]="'auth-presentation-navigate'+ (route.selected ? '--selected' : '--buttons')"
         [routerLink]="route.route" [routerLinkActive]="route.routeActive">
        {{ route.name }}
      </a>
    </nav>
  </div>
  <div class="auth-data">
    <div class="auth-data--logo"></div>
    <router-outlet [@routeAnimations]="prepareRoute(outlet)" #outlet="outlet"></router-outlet>
    <div class="auth-data-footer">
      <div class="auth-data-footer--icon"></div>
    </div>
  </div>
</div>

