
.admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em;
  &-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
mat-icon {
  cursor: pointer;
}

mat-form-field {
  width: 90%;
  margin-top: 1.5em;
}

mdc-dialog__backdrop {
  pointer-events: none;
}
