<div class="admin">

  <div class="admin-products">
    <div class="product-type">{{'PRODUCT-TYPE.PRODUCT-TYPE' | translate}}</div>

    <merke-gratis-product title="Nuevo Producto" (productChanges)="openDialog(newProduct, true)" color="blue"></merke-gratis-product>

    <merke-gratis-product *ngFor="let product of products" [title]="product.name" [image]="product.image" (productChanges)="openDialog(product, false)">

      <merke-gratis-left-info>
        <mat-form-field appearance="legacy" color="accent">
          <mat-label>{{'REGISTRY-PRODUCT.PRICE' | translate}}</mat-label>
          <input matInput type="text" [value]="product.price">
        </mat-form-field>
      </merke-gratis-left-info>

      <merke-gratis-right-info>
        <mat-icon color="accent" (click)="deleteProduct(product.productCode)">delete</mat-icon>
      </merke-gratis-right-info>

    </merke-gratis-product>
  </div>
  <div class="admin-types">
    <merke-gratis-admin-product-type></merke-gratis-admin-product-type>
  </div>
</div>
