<div class="admin">

  <div class="admin-products">

    <merke-gratis-product [product]="newProduct" (productChanges)="openDialog(newProduct, true)"></merke-gratis-product>

    <merke-gratis-product *ngFor="let product of products" [product]="product" (productChanges)="openDialog(product, false)">

      <merke-gratis-left-info>
        <mat-form-field appearance="legacy" color="accent">
          <mat-label>{{'REGISTRY-PRODUCT.PRICE' | translate}}</mat-label>
          <input matInput type="text" [value]="product.price">
        </mat-form-field>
      </merke-gratis-left-info>

      <merke-gratis-right-info>
        <mat-icon color="accent" (click)="deleteProduct(product.productCode)">delete</mat-icon>
      </merke-gratis-right-info>

    </merke-gratis-product>
  </div>
  <div class="admin-types">
    <merke-gratis-admin-product-type></merke-gratis-admin-product-type>
  </div>
</div>
